.opeAzzurro {
    background: #CBFAFF !important;
}

.opeRosa {
    background: #FFE3FE !important;
}

.opeGrigio {
    background: #EEF2E0 !important;
}

.opeGiallo {
    background: #FFFCC5 !important;
}

.opeBianco {
    background: #FFFFFC !important;
}

.opeVerde {
    background: #E3FFDE !important;
}

.opeBlu {
    background: #E3E0FF !important;
}

.opeRosso {
    background: #CCB4A8 !important;
}

.opeRosaScuro {
    background: #FFC3FF !important;
}

.opeArancione {
    background: #FFD6A5 !important;
}

.opeViola {
    background: #E3DEFF !important;
}

.opeNeutro {
    background: transparent !important;
}

.opeGialloScuro {
    background: #FFF73E !important;
}

.opeMarrone {
    background: #CBB799 !important;
}
